---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
import SocialPill from '../components/SocialPill.astro';
---

<Layout title="Portfolio de Marlon Garzon - Desarrollador y Programador Web"
	description="Contrata a Marlon Garzon para crear tu aplicación web o móvil . Desarrollador web, especializado en aplicaciones unicas">
	
	<main>
		<section class="w-full mx-auto lg:w-[740px] mx-auto py-44 pb-4">
			<img class="rounded-full w-12 h-12 mb-5" 
			src="https://i.pinimg.com/474x/b3/ba/77/b3ba778e2b1910d17440acae29f92a52.jpg" 
			alt="Me"
			/>
		<h1 class="text-white text-5xl font-bold flex-row gap-x-4 mb-5">
			Hey, soy Marlon Garzón <a 
			href="https://www.linkedin.com/in/marlon-arley-garzon-toro-b0a4102ab/" 
			target="_blank"
			rel="noopener"
			><Badge>Disponible para trabajar</Badge>
		</a>
		</h1>
		<h2 class="text-xl text-wrap">
			Ingeniero en sistemas dedicado en ciberseguridad.<span class="opacity-50"> Especializado en crear aplicaciones y soluciones unicas</span> 
			
		</h2>

		<nav class="flex gap-x-4 mt-7">
			<SocialPill href="https://www.linkedin.com/in/marlon-arley-garzon-toro-b0a4102ab/">
				<LinkedInIcon class="size-6"/>
				LinkedIn</a>
			</SocialPill>
			<SocialPill href="https://github.com/MarlonGarzonT">
				<GitHubIcon class="size-6"/>
				GitHub</a>
			</SocialPill>
			<SocialPill>
				<MailIcon class="size-6"/>
				Marlongrzn1@gmail.com</a>
			</SocialPill>
		</nav>
		</section>
	</main>
</Layout>

|